 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }
        
        html {
            scroll-behavior: smooth;
        }
        /* *********************/
        /* seccion I N I C I O */
        /* *********************/
        .hambuerguesa{
            color:#ffc107;
            
        }
        /*linear-gradient( rgba(40, 3, 251, 0.441),rgba(37, 0, 245, 0.391)),*/
     
        .redes1 {
            color: #ffffff;
        }
        .redes1 :hover {
            color:#ffc107;
         }

        #inicio {
            background: url("./imagenes/excavadora-hidraulica.jpg");
            background-size: cover;
             margin-top: 15px;
            background-position:center;
            height:95vh;
            
        }
        
       

            
        #inicio .contenido header {
            background-color: rgb(0, 0, 0);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }
        
        #inicio .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 6px;
        }
        
        
        #inicio .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        
        #inicio .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin: 0 12px;
            font-weight: 500;
            transition: .5s;

        }
        
        #inicio .contenido header .contenido-header nav ul li a:hover {
            color:#ffc107;
            font-weight: 600;
            transform: scale(1.8, 1.8);
            
        }
        
        #inicio .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
            font-weight: 1000;
        }
        
        #inicio .contenido header .contenido-header .redes a:hover {
            color:#ffc107;
            font-weight: 600;
            transform: scale(1.5, 1.5);
        }
        
        #inicio .contenido header .contenido-header .seleccionado {
            color:#ffc107;
        }
        
        #inicio .contenido .presentacion {
            height: 70vh;
            margin: auto;
            color:#edebeb;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }
    
        
       
        
        #inicio .contenido .presentacion .ayuda1 h3 {
            font-size: 55px;
            margin-bottom: 25px;
            text-align: center;
            color:#ffffff;
             font-weight: 900;
            padding: 30px;
            background-color: #00000097;
        }
        
        #inicio .contenido .presentacion h2 span {
            
            color: #f4f4f4;
        }
        
        #inicio .contenido .presentacion .descripcion {
            max-width: 70px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }
        
        #inicio .contenido .presentacion a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
        }
        
        #inicio .contenido .presentacion a:hover {
            background-color:#ffc107;
            transform: scale(1.2, 1.2);
            
        }
        
        #icono-nav {
            color: #fff;
            display: none;
        }

     /*inicio1*/
     #inicio1 {
        
    
       
        
    }
        #inicio1 .contenido header {
            background-color: rgb(0, 0, 0);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }
        
        #inicio1 .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px 2px;
        }
        
        
        #inicio1 .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }
        
        #inicio1 .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            margin: 0 0px;
            font-weight: 500;
            transition: .5s;

        }
        
        #inicio1 .contenido header .contenido-header nav ul li a:hover {
            color:#ffc107;
            font-weight: 600;
            transform: scale(1.8, 1.8);
            
        }
        
        #inicio1 .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
            font-weight: 1000;
        }
        
        #inicio1 .contenido header .contenido-header .redes a:hover {
            color:#ffc107;
            font-weight: 600;
            transform: scale(1.5, 1.5);
        }
        
        #inicio1 .contenido header .contenido-header .seleccionado {
            color:#ffc107;
        }
        
        #inicio1 .contenido .presentacion {
            height: 70vh;
            margin: auto;
            color:#edebeb;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
        }
    
        
       
        
        #inicio1 .contenido .presentacion .ayuda1 h3 {
            font-size: 55px;
            margin-bottom: 25px;
            text-align: center;
            color:#ffffff;
             font-weight: 900;
            padding: 30px;
            background-color: #00000097;
        }
        
        #inicio1 .contenido .presentacion h2 span {
            
            color: #f4f4f4;
        }
        
        #inicio1 .contenido .presentacion .descripcion {
            max-width: 70px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }
        
        #inicio1 .contenido .presentacion a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
        }
        
        #inicio1 .contenido .presentacion a:hover {
            background-color:#ffc107;
            transform: scale(1.2, 1.2);
            
        }
        
        #icono-nav {
            color: #fff;
            display: none;
        }

        /* *********************/
        /* seccion NOSOTROS */
        /* *********************/        

        .problema {

            color:#ffc107;
        }
        .problema :hover {
            transform: scale(1.2, 1.2);
            
        }

        #nosotros {
            max-width: 1100px;
            margin: auto;
            padding: 70px 15px;
            color: #111135;
            
        }
    
        #nosotros .sobremi {
            margin: 0 40px;
        }
        
        #nosotros .sobremi .titulo-seccion {
            font-size: 22px;
            font-weight: 800;
            text-transform: uppercase;
            color:#000000;
            text-decoration: underline;
            text-decoration-color:#ffc107;
            text-decoration-thickness: 5px;
        }
        
        #nosotros .sobremi h2 {
            font-size: 34px;
            font-weight: bold;
            margin: 20px 0;
            letter-spacing: 2px;
        }
        
        #nosotros .sobremi h2 span {
            color:#ffc107;
        }
        
        #nosotros .sobremi h3 {
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
        
        #nosotros .sobremi p {
            font-size: 14px;
            line-height: 25px;
            
            margin-bottom: 12px;
        }

        
        #nosotros .sobremi a {
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
        }
        
        #nosotros .sobremi a:hover {
            background-color:#ffc107;
            color: #050505;
        }

        #whatsapp-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
        }
        .foto-nosotros{
         opacity: 0.9;
         
        }
        .foto-nosotros:hover{
            opacity: 1.5; 
        }

       
        #whatsapp-button a img {
            width: 60px; /* Ajusta el tamaño según tu preferencia */
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background-color: #10f63a; /* Color de WhatsApp */
            padding: 10px;
            transform: scale(.8, 1);
        }
        
        #whatsapp-button a img:hover {
            background-color:#e7ae03;/* Cambia el color al pasar el mouse */
            opacity: 1;
            transform: scale(1, 1);
        }
        

        .contador-obras {
            background: linear-gradient(#000000d8, #ffc1077f, #00000097), url("./imagenes/protada23.jpg");
            background-size: cover;
            background-position:center;
            height:35vh;
            
            align-items: center;
            justify-content: center;
    
        }
        .counting{
            
            
            align-items: center;
            justify-content: center;
    
        }
                    
        
        .counting .count{
            font-size: 45px;
            color: rgb(255, 255, 255);
            font-weight: 800;
            
        }



       
        /* seccion S K I L L S */
        /* *********************/
        
        .seccion2 {
            width: 80%;
            border-radius: 5px;
            color: white;
            
          }
        .direccion {
            color: #575656;
          }
        .datos {
            font-size: small;
            color: #575656;
          }
        .color1 {
            font-family: Georgia, "Times New Roman", Times, serif;
            color:#ffc107;
          }
        .parrafo {
            color: #575656;
          }
        
        .nombre {
            color:#ffc107;
            font-weight: 500;
          }
        .contenedor-skills {
            background: linear-gradient(#000000cd, #ffc107e2), url("./imagenes/obra.webp");
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            background-position: center center;
            padding: 40px ;
            text-align: center;
        }
        
        .contenedor-skills .skill {
            max-width: 800px;
            margin: 20px auto;
        }
        
        .contenedor-skills .skill .info {
            display: flex;
            justify-content: space-between;
        }
        
        .contenedor-skills .skill .lista {
            display: inline-block;
            margin-right: 20px;
            height: 10px;
            width: 10px;
            background-color: #fff;
        }
        
        .contenedor-skills .skill .barra {
            background-color: #919191;
            width: 100%;
            height: 6px;
            margin: 0px 0px;
        }
        
        .contenedor-skills .skill .barra .barra-progreso1 {
            background-color: #fff;
            width: 65%;
            height: 6px;
            animation: progreso1 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso2 {
            background-color: #ffffff;
            width: 90%;
            height: 6px;
            animation: progreso2 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso3 {
            background-color: #fff;
            width: 90%;
            height: 6px;
            animation: progreso3 2s forwards;
        }
        
        .contenedor-skills .skill .barra .barra-progreso4 {
            background-color: #fff;
            width: 85%;
            height: 6px;
            animation: progreso4 2s forwards;
        }
        
        @keyframes progreso1 {
            0% {
                width: 0;
            }
            100% {
                width: 99.5%;
            }
        }
        
        /* *********************/
        /* seccion servicios */
        /* *********************/
        
        #servicios {
            max-width: 1100px;
            padding: 70px 15px;
            margin: auto;
        }
        
        #servicios .titulo-seccion {
            text-align: center;
            font-weight: 800;
            font-size: 22px;
            text-transform: uppercase;
            color:#000000;
            text-decoration: underline;
            text-decoration-color:#ffc107;
            text-decoration-thickness: 5px;
            margin-bottom: 10px;
        }
        
        
        #servicios .fila {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
        }
        
        #servicios .fila .proyecto {
            max-width: 450px;
            border: 1px solid #000000;
            margin: 0 10px;
            position: relative;
            overflow: hidden;
        }
        
        #servicios .fila .proyecto img {
            width: 100%;
            height: 100%;
            
            filter: grayscale(1);
            object-fit: cover;
            transition: .5s;
        }
        
        #servicios .fila .proyecto:hover img {
            filter: grayscale(0);
        }
         .parrafo{
            color:#ffc107;
            font-size: 12px;
            
        }
        .titulo{
            font-weight: 800;
        }

        #servicios .fila .proyecto .info {
            position: absolute;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            color:#ffc107;
            width: 100%;
            padding: 10px;
            opacity: 0;
            bottom: -40px;
            transition: .5s;
        }
        
        
        #servicios .fila .proyecto:hover .info {
            opacity: 1;
            bottom: 0;
        }
        /* *********************/
        /* seccion C O N T A C T O */
        /* *********************/
        

    
   
    
    #contacto .contenedor-form .fila {
    margin-bottom: 15px;
    }
    
    #contacto .contenedor-form input,
    #contacto .contenedor-form textarea {
    padding: 10px;
    border: 0.5px solid #2121218a;
    
    }
    
    
    #contacto .contenedor-form .input-full {
    width: 100%;
    }
    

    
    #contacto .contenedor-form {
    max-width: 85%;
    margin: auto;
    }
    
    #contacto .contenedor-form .fila {
    margin-bottom: 15px;
    }
    
    #contacto .contenedor-form input,
    #contacto .contenedor-form textarea {
    padding: 10px;
    border: 0.5px solid #2121218a;
    
    }
    
    
    #contacto .contenedor-form .input-full {
    width: 100%;
    }
    
    #contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    text-decoration: underline;
    text-decoration-color:#ffc107;
    text-decoration-thickness: 5px;
     font-weight: 800;
     margin-top: 30px;
    }
    
    #contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
    background-color:#ffc107;
    color: #111111;
    }
    #contacto .btn-enviar:hover{
    background-color:#030303;
    color:#ffc107;  
    font-weight: 700;
    }   
    #contacto .titulo-formulario {
    
    font-size: 18px;
    
    color: #202020;
    font-weight: 800;
     
     
    }
    .linea {
        border: 2px solid #000000; 
        
         width: 10%;
        border-radius: 3px; 

    }
   
    
   
       
        /* *********************/
        /* seccion F O O T E R */
        /* *********************/

        footer {
           background-color: #000000;
            color: #ffffff;
            text-align: center;
            padding: 7px 0;
        }
        
        footer a {
            text-decoration: none;
            color: #ffffff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
        }
        #footer a:hover {
            color:#ffc107;
            font-weight: 600;
            transform: scale(1.5, 1.5);
         }

/* Estilos para el contenedor del texto */
.text-container {
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
}

/* Estilos para el texto a revelar */
.reveal-text {
    opacity: 0;
    animation: reveal 4s linear forwards;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.derechos{
    font-size: small;
    font-weight: 500;
}
.img{
    display: flex;
    width: 600px;
    height: 430px;
  
} 
.img img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    
}

.img img:hover{
    cursor:all-scroll;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}
#contacto {
    padding: 10px 5px;
    max-width: 90%;
    margin-top: 20px;
   


}



        /* *********************/
        /* seccion R E S P O N S I V E */
        /* *********************/
        
        @media screen and (max-width: 800px) {
            .redes {
                display: none;
            }
            
            nav {
                display: none;
            }
            nav.responsive {
                display: block;
                background-color: rgba(0, 0, 0, 0.8);
                width: 100%;
                position: absolute;
                top: 40px;
                left: 0;
                
                
    
            }
            nav.responsive ul {
                display: block !important;
                text-align: center;
                
            }
            nav.responsive ul li {
                margin: 5px 0;
            }
            #icono-nav {
                display: block;

            }
            
            
            
             /* seccion HABLIDADES MI */
             .contenedor-skills {
                padding: 50px 20px;
            }
            
             /* seccion SERVICIOS */
        #servicios {
            padding: 50px 0;
        }
        #servicios .fila {
            display: block;
        }
        #servicios .fila .proyecto {
            margin: 10px auto;
        }
        /* seccion CONTACTO */
        #contacto {
            padding: 58px 15px;
        }
        #contacto .contenedor-form .mitad {
            margin-bottom: 15px;
            display: block;
        }
        #contacto .contenedor-form .mitad input {
            width: 100%;
            margin-bottom: 15px;
        }
     
            .logo{
                width: 61px;
            }


            

            .contador-obras {
               
                background-size: cover;
                background-position:center;
                height:75vh;
                align-items: center;
                justify-content: center;
        
            }
            .counting{

                align-items: center;
                justify-content: center;
        
            }
                        
        
            .counting .count{
                font-size: 45px;
                color: rgb(255, 255, 255);
                font-weight: 800;
                
            }
            #contacto .titulo-formulario {
    
                font-size: 16px;
                font-weight: 200;
                color: #202020;
                 font-weight: 800;
                
                 
                }
          .redes1 {
                    color: #ffffff;
                }
                .redes1 :hover {
                    color:#ffc107;
                    
                 }
                 #icono-nav {
                    display: block;
                }
                #inicio .contenido .presentacion h3 {
                    font-size: 40px;
                }
                #inicio .contenido .presentacion .ayuda1 h3 {
                    font-size: 40px;
                /* seccion SOBRE MI */
                #sobremi {
                    padding: 50px 0;
                    display: block;
                }
                #sobremi .contenedor-foto {
                    max-width: 200px;
                    margin: auto;
                }
                #sobremi .contenedor-foto img {
                    width: 100%;
                    padding: 8px;
                }
                #sobremi .sobremi .titulo-seccion {
                    text-align: center;
                    margin-top: 10px;
                }
                #sobremi .sobremi h2 {
                    font-size: 25px;
                    
                }
                /* seccion MIS SERVICIOS */
                #servicios {
                    padding: 50px 15px;
                }
                #servicios .fila {
                    display: block;
                }
                #servicios .fila .servicio {
                    margin: 10px auto;
                }
                /* seccion HABLIDADES MI */
                .contenedor-skills {
                    padding: 50px 20px;
                }
                /* seccion PORTFOLIO */
                #portfolio {
                    padding: 50px 0;
                }
                #portfolio .fila {
                    display: block;
                }
                #portfolio .fila .proyecto {
                    margin: 10px auto;
                }
                /* seccion CONTACTO */
                #contacto {
                    padding: 50px 15px;
                }
                #contacto .contenedor-form .mitad {
                    margin-bottom: 15px;
                    display: block;
                }
                #contacto .contenedor-form .mitad input {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }


 }
         
        
       
     